.perfil-container{
    border-bottom: 2px solid transparent;
    .perfil-content{
      width: 90%;
      z-index: -1;
      margin-top: 2rem;
      padding-bottom: 1rem;
      background: linear-gradient(white, white) padding-box,
      linear-gradient(45deg, #65DDF9, #03A2EB, #0281BB) border-box;
      border-bottom: 2px solid transparent;

      .foto{
        height: 5rem;
        width: 5rem;
        background-position: center;
        background-size: cover;
        border: 2px solid #72c9f1;
        margin-right: 1em;
      }
      .nome-cargo{
        color: black;
        p{
          margin: 0;
          text-align: left;
        }
        .nome{
          font-size: 16px;
          line-height: 120%;
        }
          .cargo{
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            margin-top: 2px;
          }
      }
    }
  }
  .w-90{
    width: 90%;
  }
  

  //   .foto{
  //     zoom: 0.80;
  //   }
  // }