<div class="acervos">
  <div class="campo-busca">
    <app-campo-bsuca></app-campo-bsuca>
  </div>
  <div *ngIf="resultados === true && filteredBooks.length === 0" class="d-flex flex-wrap justify-content-center">
    <ng-container *ngFor="let book of allBooks">
      <app-card-livro [bookData]="book"></app-card-livro>
    </ng-container>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <ng-container *ngIf="filteredBooks.length === 0">
      <p>Nenhum resultado encontrado.</p>
    </ng-container>
    <ng-container *ngFor="let book of filteredBooks">
      <app-card-livro [bookData]="book"></app-card-livro>
    </ng-container>
  </div>
</div>