<section class="tela">
  <div class="container">
    <a class="bottom" routerLink="/home/acervos"><i class="fas fa-arrow-left"></i> VOLTAR</a>
    <div class="cover">
      <div class="overlay">
        <img [src]="urlImage" alt="Capa do Livro">
      </div>
      <div class="details">
        <h1 class="book_title">Título do Livro: {{book.title}}</h1>
        <p class="book_info">Autor do Livro: {{book.authors}}</p>
        <p class="book_info">Editora: {{book.publisher}}</p>
        <p class="book_info">Ano de Publicação: {{book.publishedDate}}</p>
        <div class="book_stars">
          <p class="book_info">Avaliação:</p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <h3>Sinopse</h3>
    <p class="book_info">{{book.description}}</p>
  </div>
</section>
