<section class="tela">

  <div class="container">
    <a (click)="favoriteBook(book._id)"  id="favoritar" class="bottom"><i class="fas fa-star me-md-2"></i>FAVORITAR</a>
    <p class="bottom" id="msg" [ngStyle]="showMessage? {'display': 'inline'} : {'display': 'none'}">{{ message }}</p>
    <a class="bottom" routerLink="/home/acervos"><i class="fas fa-arrow-left"></i> VOLTAR</a>
    <div class="cover">
      <div class="overlay">
        <img class="capa" [src]="urlImage" alt="Capa do Livro">
      </div>
      <div class="details">
        <h1 class="book_title">Título do Livro: {{book.title}}</h1>
        <p class="book_info">Autor do Livro: {{book.authors}}</p>
        <p class="book_info">Editora: {{book.publisher}}</p>
        <p class="book_info">Ano de Publicação: {{book.publishedDate}}</p>
        <div class="book_stars">
          <p class="book_info"> Avaliação:</p>
          <ng-container *ngIf="book.averageRating !== undefined">
            <ng-container *ngFor="let i of getStarRange(book.averageRating)">
              <img class="ms-md-1" id="estrela-fill" src="../../../../../assets/images/home/card-livro/estrela-fill.svg" alt="estrela rating">
            </ng-container>
            <ng-container *ngFor="let i of getEmptyStarRange(book.averageRating)">
              <img class="ms-md-1" id="estrela-no-fill" src="../../../../../assets/images/home/card-livro/estrela.svg" alt="estrela rating">
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <h3>Sinopse</h3>
    <p class="book_info">{{book.description}}</p>
  </div>
</section>
