@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tela {
  background-image: url(../../../assets/images/login/bg-login.svg);
  background-size: cover;
  background-position: center center;
}

.book_title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 15px;
  margin-block-start: 0!important;
}

.book_info {
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
  margin-block-start: 0!important;
}

.book_stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  margin-left: 5px;
}

.star.active {
  background-color: #fdc555;
}

.bottom {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  transition: color 0.6s ease;
}

#favoritar{
  left: 20%;
  cursor: pointer;
}


.bottom::before {
  font-family: "Font Awesome 5 Free";

}

.bottom:hover {
  color: darkblue;
}

.container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.4s ease;
}

.cover:hover {
  transform: scale(1.15);
}

.cover .overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cover .overlay .bottom {
  margin-top: auto;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.cover .overlay .bottom:hover {
  color: rgb(0, 0, 54);
}

.cover img {
  width: 120px;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-right: 10px;
}

.details h2,
.details p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  margin-left: 15%;
  margin-right: 15%;
  background: radial-gradient(100% 359.18% at 0% 0%, rgba(83, 115, 255, 0.363) 0%, rgba(255, 255, 255, 0.03) 100%);
  border-bottom: 3px solid transparent;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.158);
  //backdrop-filter: blur(15px);
  padding: 5%;
  transition: transform 0.4s ease;
}

.description:hover {
  transform: scale(1.05);
}

.description h3 {
  color: white;
  margin-bottom: 2%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description p {
  margin: 0;
  font-size: 16px;
  color: white;
  font-weight: 420;
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.fa-star {
  font-size: 14px;
  color: #ffc107;
  margin-left: 5px;
}