<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="info-livros.component.scss" />
  </head>
  <body>
    <div class="capa">
      <button class="botao">&#60; Voltar</button>
      <div class="direita">
        <img src="images.jpeg" alt="Livro" />
        <div class="full">
          <h1 class="espaco">Titulo</h1>
          <section class="direita">
            <p class="margin-right">Avaliação:</p>
            <p >5</p>
            <p class="estrela">	&#9733;</p>
          </section>
          <hr>
        </div>
      </div>
    </div>

    <h2>Visao geral</h2>

    <div class="direita descricao borda ">
      <div class="right">
        <h3>Descriçâo</h3>
        <p class="quebra-linha">sadsadsadadasdasdasdsadadsadasdsasdadadadadadsadsadsaasaasasasassadsadadsadasdsadsadsasadsadadsadsadsadas</p>
      </div>
      <div class="right">
        <section class="direita">
          <p class="margin-right">Páginas:</p>
          <p class="quebra-linha">asdsa</p>
        </section>
        <section class="direita">
          <p class="margin-right">Autor:</p>
          <p class="quebra-linha">sadsa</p>
        </section>
        <section class="direita">
          <p class="margin-right">Editora:</p>
          <p class="quebra-linha">sada</p>
        </section>
        <section class="direita">
          <p class="margin-right">Ano de publicação:</p>
          <p class="quebra-linha">asda</p>
        </section>
        <section class="direita">
          <p class="margin-right">Idioma:</p>
          <p class="quebra-linha">sadsa</p>
        </section>
      </div>
    </div>
  </body>
</html>
