
p{
  font-weight: 400;
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  line-height: 120%;
  cursor: pointer;

  text-decoration-line: underline;

  color: black;

}
button{
  background: linear-gradient(268.16deg, #65DDF9 -11.82%, #03A2EB 65.12%, #0281BB 142.06%);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  height: 3rem;
  width: 90%;
  color: white;
}

form{
  width: 35vw;
}

#dados-invalidos{
  direction: rtl;
  font-weight: 500;
  font-size: .9rem;
  line-height: 120%;
  color: red;
  margin-bottom: .5rem;
  margin-right: 1rem;
  transition: 0.7s ease;
}


