<aside>
  <ul class="list-unstyled">
    <li class="d-flex ms-md-2 p-3" (click)="changeBackgroundColor('acervos')" [ngClass]="{'selected': selectedItem === 'acervos'}">
      <img src="../../../assets/images/home/side-bar/livro-i.svg" alt="icone livro" class="me-md-2">
      <p>Acervos</p>
    </li>
    <li class="d-flex ms-md-2 p-3" (click)="changeBackgroundColor('cadastrar')" [ngClass]="{'selected': selectedItem === 'cadastrar'}">
      <img src="../../../assets/images/home/side-bar/new-book-i.svg" alt="icone livro" class="me-md-2">
      <p>Cadastrar Acervos</p>
    </li>
    <li class="d-flex ms-md-2 p-3" (click)="changeBackgroundColor('atualizar')" [ngClass]="{'selected': selectedItem === 'atualizar'}">
      <img src="../../../assets/images/home/side-bar/update-book-i.svg" alt="icone livro" class="me-md-2">
      <p>Atualizar Acervos</p>
    </li>
    <li class="d-flex ms-md-2 p-3" (click)="changeBackgroundColor('remover')" [ngClass]="{'selected': selectedItem === 'remover'}">
      <img src="../../../assets/images/home/side-bar/remove-book-i.svg" alt="icone livro" class="me-md-2">
      <p>Remover Acervos</p>
    </li>
  </ul>
</aside>
