.btn {
  border: none;
  color: rgba(2, 126, 202, 1);
  background-color: white;
  font-weight: bold;
  font-size: 1.1em;
  fill: rgba(2, 126, 202, 1);
  transition: background-color 0.5s ease, color 0.3s ease, fill 0.3s ease;
  margin-right: 5px;
  &:hover {
    background-color: rgba(2, 126, 202, 1);
    color: white;
    fill: white;
  }
}


.titulo{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(268.16deg, #65DDF9, #03A2EB, #0281BB) border-box;
    border-bottom: 3px solid transparent;
}
  
h1{
    font-weight: 500;
    font-size: 1.5em;
    line-height: 120%;
    color: #505050;
}