@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.titulo{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(268.16deg, #65DDF9, #03A2EB, #0281BB) border-box;
    border-bottom: 3px solid transparent;
}
  
h1{
    font-weight: 500;
    font-size: 1.5em;
    line-height: 120%;
    color: #505050;
}

.fa-star {
    font-size: 24px;
    color: black;
    margin-left: 5px;
  }