body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  section {
    position: relative;
    display: contents;
    padding: 20px;
    text-align: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .bar {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .bar-item {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .status {
    display: flex;
    align-items: center;
  }
  
  .checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #06b8e0;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .checkbox.checked {
    background-color: #06b8e0;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .button {
    padding: 8px 16px;
    font-size: 1.2rem;
    background-color: #06b8e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page-info {
    font-size: 1.2rem;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    margin-top: 2rem; /* Ajuste a margem superior conforme necessário */
  }
  
  .side {
    height: 100%;
    background-image: url(../../../../assets/images/home/side-bar/layered-waves-haikei.svg);
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.158);
    border-radius: 0 0 1rem 0;
  }
  
  .row.m-0 {
    margin-right: 0; /* Remova a margem direita para evitar espaços desnecessários */
    margin-left: 0; /* Remova a margem esquerda para evitar espaços desnecessários */
  }
  
  @media (max-width: 992px) {
    .row.m-0 {
      flex-direction: column; /* Altere para uma direção de coluna em dispositivos menores */
    }
  
    .col-md-2,
    .col-md-10 {
      width: 100%; /* Faça com que as colunas ocupem toda a largura em dispositivos menores */
    }
  }
  
  p {
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.7rem, 0.9rem, 1rem);
    line-height: 120%;
  }
  
  li {
    cursor: pointer;
    border-radius: 0.5rem;
  }
  
  li:hover {
    background-color: #cccccc;
  }
  
  .selected {
    background-color: #bdbdbd;
  }
  
  img {
    height: 20px;
  }