<section>
    <div class="bar">
      <div class="bar-item status">
        <div class="checkbox"></div>
        <span>Não lido</span>
      </div>
      <div class="bar-item">Título</div>
      <div class="bar-item">Autor</div>
      <div class="bar-item">Ano</div>
      <div class="bar-item">Editora</div>
      <div class="bar-item">Data de Aquisição</div>
      <div class="bar-item">Excluir</div>
    </div>
    <!-- Aqui ficaria a lista de itens da sua lista -->
    <div class="buttons">
      <button class="button">&lt;</button>
      <span class="page-info">1 de 1</span>
      <button class="button">&gt;</button>
    </div>
  </section>