svg{
    cursor: pointer;
}

.status-box {
    display: inline-block;
    padding: 0px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ff0000;
    background-color: #ff0000;
  }
  
  .status-box-disponivel {
    display: inline-block;
    padding: 0px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #00ff00;
    background-color: #00ff00;
  }