<table class="table table-striped mt-4">
    <thead>
      <tr class="text-center">
        <th scope="col" class="border-0">Status</th>
        <th scope="col" class="border-0">Nome do livro</th>
        <th scope="col" class="border-0">ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td class="border-0 perfil text-center">
            <div class="status-box-disponivel">A</div>
        </td>
        <td class="border-0 perfil text-center">
            Nome livro
        </td>
        <td class="border-0">
            45454654n
        </td>
      </tr>
    </tbody>
  </table>