<form (ngSubmit)="onSubmit()" [formGroup]="form" class="d-flex flex-column justify-content-center align-items-center">
  <div class="foto-container" [ngStyle]="{ 'background-image': foto ? 'url(' + foto + ')' : 'url(../../assets/images/login/user.png)' }"></div>
  <div class="input-file-container">
    <label for="foto" class="input-file-label">Escolher Foto</label>
    <input type="file" id="foto" name="foto" accept="image/*" (change)="onFotoChange($event)">
  </div>
    <div class="w-90">
      <app-input-float [tipoInput]="'text'" [textoPlaceHolder]="'Nome'" [form]="form" [controlName]="'name'"></app-input-float>
    </div>
    <div class="w-90">
      <app-input-float [form]="form" [controlName]="'email'"></app-input-float>
    </div>
    <div class="w-90">
      <app-input-float [tipoInput]="'password'" [textoPlaceHolder]="'Senha'" [form]="form" [controlName]="'password'"></app-input-float>
    </div>
    <div class="w-90">
      <app-input-float [tipoInput]="'password'" [textoPlaceHolder]="'Confirmar Senha'" [form]="form" [controlName]="'confirmPassword'"></app-input-float>
      <p id="errorPassword" [ngStyle]="this.form.get('confirmPassword')?.hasError('equalsTo') ? {} : { 'display': 'none' } ">As senhas devem ser iguais!!</p>
    </div>
    <button [disabled]="!this.form.valid" class="button-login" >Cadastrar</button>
</form>
  