/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0 0;
  padding: 0;
  font-family: 'Roboto';
}
button{
  border: none;

}
section{
  width: 100vw;
  height: 100vh;
}

figure{
  margin: 0;
}

p, h1, h2, h3{
  margin: 0;
}

.form-control, .form-select{
  outline: none!important;
  border-radius: .5rem;
  box-shadow: none;
  border-width: 0.1rem;
  border-color: #CCCCCC;
  &::placeholder{
    color: #CCCCCC;
  }

  &:focus{
    border-color: #212121;
    color: #b4b4b4;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &::after{
    color: #212121;
  }

  &:hover{

    border-color: #027ECA;
    &::placeholder{
      color: #027ECA;
    }
  }
}

.w-90{
  width: 90%;
}
