body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.button {
  padding: 1% 1%;
  font-size: 1rem;
  border: 2px solid #06b8e0;
  border-radius: 20px;
  background-color: transparent;
  color: #06b8e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #06b8e0;
  color: white;
}

