aside{
    height: 20rem;
  }
  
  p{
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.7rem, 1rem, 1.3rem);
    line-height: 120%;
  
  }
  
  li{
    cursor: pointer;
    border-radius: 0.5rem;
    &:hover{
      background-color: #cccccc;
    }
  }
  
  .selected {
    background-color: #bdbdbd; /* Substitua 'yellow' pela cor desejada */
  }
  img{
    height: 20px;
  }
  
  
  